@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body-font: font-family: "Poppins", sans-serif;
    --title-font:  font-family: "Lobster", sans-serif;
    --header-font: font-family: "Montserrat", sans-serif;
}

h1, h2 {
    font-family: var(--header-font);
}

.title {
    font-family: var(--title-font);
}

body {
    font-family: var(--body-font);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

body {
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #070c4b;
    padding: 20px;
    text-align: center;
    font-family: var(--header-font);
}

.logo h1 {
    color: #fff;
    font-size: 32px;
    font-family: var(--title-font);
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--body-font);
}

nav a.active {
    color: #f39c12;
}

.intro {
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    background-color:  #3b82f6;
    color: #131212;
}

.intro h3 {
    font-size: 16px;
}

.intro h2 {
    font-size: 40px;
    margin: 10px 0;
    font-family: var(--title-font);
}

.call-to-action {
   color: #fff;
   padding: 10px 20px;
   text-decoration: none;
   border-radius: 5px;
   font-weight: bold;
}

.call-to-action:hover {
    background-color: #131212; 
}

.music-player-section {
    text-align: center;
    margin: 40px 0;
}


#image {
    max-width: 200px;
    height: auto;
    margin: 20px 0;
}